@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");
body,
html {
  font-family: "Archivo", sans-serif;
  height: 100%;
  width: 100%;
}

.landing {
  background-image: url("./photos/photos/Compressed/01_okolitza_studio_rezyserka1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.hamburger {
  width: 50px;
}

.active-right {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  top: 15px;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  z-index: 999;
}

.active-left {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  z-index: 999;
}

.ham-two {
  display: block;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

/*   animation: rotateLeft 0.5s ease-in-out;
  animation-iteration-count: 1;
 */
.ham-span {
  /* border: 1px solid #333; */
  background-color: #fff;
}

.title {
  position: absolute;
  left: 20%;
  bottom: 25%;
}

.title h1 {
  color: #fff;
  font-weight: 900;
}

.title h2 {
  font-weight: 100;
}

.nav-list {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.nav-list .nav-item {
  list-style: none;
}

.nav-list .nav-link {
  text-decoration: none;
  color: #fff;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.671);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

@-webkit-keyframes rotateRight {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes rotateRight {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes rotateLeft {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
}

@keyframes rotateLeft {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

#about p {
  font-size: 0.7rem;
  font-weight: 900;
}

.shadow-1 {
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 20px 0px !important;
          box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 20px 0px !important;
}

.shadow-2 {
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 10px !important;
          box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 10px !important;
}

.shadow-3 {
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 10px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
          box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 10px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
}

.no-border {
  border: none !important;
}

.mt-5 {
  margin-top: 200px !important;
}

.mb-5 {
  margin-bottom: 200px !important;
}

.equipment {
  /*  background-image: url("/photos/4.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; */
  z-index: 1;
}

.card img {
  width: 100% !important;
}

/* .gallery {
  background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(24,8,207,1) 100%);
} */
.footer {
  width: 100%;
  background-color: black;
  z-index: 0;
}

.footer .row {
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  .footer .contact-info {
    padding-top: 10px;
  }
}

.blink {
  animation: blink-animation 1.2s steps(5, start) infinite;
  -webkit-animation: blink-animation 1.2s steps(5, start) infinite;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.neonText {
  color: #cf0d0d;
  text-shadow: 0 0 7px #ee0c0c, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px red, 0 0 82px red, 0 0 92px #ec1a1a, 0 0 102px #fc2a2a, 0 0 151px #5c0000;
}

.neonText-2 {
  background-color: red;
  -webkit-box-shadow: 0 0 7px #ee0c0c, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px red, 0 0 82px red, 0 0 92px #ec1a1a, 0 0 102px #fc2a2a, 0 0 151px #5c0000;
          box-shadow: 0 0 7px #ee0c0c, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px red, 0 0 82px red, 0 0 92px #ec1a1a, 0 0 102px #fc2a2a, 0 0 151px #5c0000;
}

/* Additional styling */
.divider {
  position: relative;
}

.divider span {
  background-color: white;
  width: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  z-index: 1;
}

.about-pic {
  width: 70%;
}
