@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;700;800;900&family=Mohave:wght@300;400;500;600;700&family=Reenie+Beanie&family=Righteous&family=Rock+3D&display=swap");
body,
html {
  font-family: "Inter Tight", sans-serif;
  /*font-family: 'Mohave', sans-serif;*/
  height: 100%;
  width: 100%;
}

.container-fluid {
  padding: 0 !important;
}

/* LANDING */
.landing {
  background-image: url("./photos/Compressed/1 start.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .landing {
    background-image: url("./photos/Compressed/trzy.jpg");
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: #fff;
  font-family: "Righteous", cursive;
}
.title h1 {
  font-size: 200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
@media screen and (max-width: 1280px) {
  .title h1 {
    font-size: 100px;
    letter-spacing: 20px;
  }
}
@media screen and (max-width: 768px) {
  .title h1 {
    font-size: 70px;
    letter-spacing: normal;
  }
}
@media screen and (max-width: 380px) {
  .title h1 {
    font-size: 50px;
    letter-spacing: normal;
  }
}
.title h2 {
  text-align: center;
}

/* HEADER */
.header {
  border-bottom: 1px solid #e2e8f0;
  position: fixed;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: "Mohave", sans-serif;
  background-color: rgba(0, 0, 0, 0.368627451);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
  text-decoration: none;
  list-style: none;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
}

.nav-link:hover {
  color: #ffa806;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 4rem;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9725490196);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-link {
    color: #000000;
    font-weight: 600;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 1.4rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
/* back to top button */
#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: red;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

@media only screen and (max-width: 768px) {
  .mobile h1 {
    font-size: 70px;
  }
  .mobile p {
    text-align: left;
    letter-spacing: 0.2px;
    padding: 15px !important;
    font-size: 20px !important;
  }
}
.big-txt {
  font-size: 10vw;
  font-family: "Mohave", sans-serif;
  font-weight: 900;
  text-align: center;
}

.my-slider {
  height: 600px;
}
@media only screen and (max-width: 768px) {
  .my-slider {
    height: 400px;
  }
  .my-slider img {
    width: 300px !important;
  }
}
.my-slider img {
  width: 100%;
}

.tns-controls {
  display: none;
}

.tns-item {
  width: auto !important;
}

.tnv-nav-active button,
.tns-nav button,
.tns-outer button {
  display: none !important;
}

.instagram {
  text-align: center;
}

.insta {
  text-decoration: none;
  font-size: 5rem;
  color: #e2e8f0;
  text-align: center;
}

.bg-one {
  background-image: url("./photos/Compressed/tlo1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-two {
  background-image: url("./photos/Compressed/nagrania.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.text-bg {
  background-color: rgba(255, 255, 255, 0.5882352941);
}

.bg-three {
  background-image: url("./photos/Compressed/tlo3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.bg-four {
  background-image: url("./photos/Compressed/tlo5.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.bg-five {
  background-image: url("./photos/Compressed/kontakt.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.kontakt-bg {
  background-color: rgba(0, 0, 0, 0.1843137255) !important;
}

img {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.onas-img {
  display: flex;
  justify-items: center;
  align-items: center;
}
.onas-img img {
  width: 50%;
}

.onas-txt {
  font-size: 17px !important;
}

@media only screen and (max-width: 768px) {
  .onas-img {
    padding-bottom: 3rem !important;
  }
  .onas-img img {
    width: 90%;
  }
  .onas-text {
    width: 90%;
  }
}
.mobile-sprzet img {
  width: 400px !important;
}

@media only screen and (max-width: 768px) {
  .mobile-sprzet img {
    width: 200px !important;
  }
  .instagram {
    padding-top: 50px;
  }
}
.gear {
  height: 100vh;
}
@media only screen and (max-width: 768px) {
  .gear {
    padding: 20px !important;
  }
  .gear h1 {
    font-size: 25px;
  }
  .gear h2 {
    font-size: 20px;
  }
}

.photo-gallery {
  color: #313437;
}

.photo-gallery p {
  color: #7d8285;
}

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width: 767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}
.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

.fc-black {
  color: #000000;
}/*# sourceMappingURL=styles.css.map */