@import url("https://fonts.googleapis.com/css2?family=Joan&family=Pacifico&family=Shadows+Into+Light&family=Special+Elite&display=swap");
body {
  font-family: 'Special Elite', cursive;
  min-height: 100%;
}

.landing {
  background-image: url("/photos/3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  z-index: 0;
}

.hamburger {
  width: 50px;
}

.active-right {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  top: 15px;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  z-index: 999;
}

.active-left {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  z-index: 999;
}

.ham-two {
  display: block;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

/*   animation: rotateLeft 0.5s ease-in-out;
  animation-iteration-count: 1;
 */
.ham-span {
  /* border: 1px solid #333; */
  background-color: #fff;
}

.title {
  position: fixed;
  left: 10%;
  bottom: 35%;
}

.title h1 {
  font-size: 80px;
  color: #fff;
  font-weight: 200;
}

@media (max-width: 768px) {
  .title h1 {
    font-size: 50px;
  }
}

.nav-list {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.nav-list .nav-item {
  list-style: none;
}

.nav-list .nav-link {
  text-decoration: none;
  color: #fff;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.671);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

@-webkit-keyframes rotateRight {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes rotateRight {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes rotateLeft {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
}

@keyframes rotateLeft {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
