@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");

body,
html {
  font-family: "Genos", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* LANDING */

/* HAMBURGER MENU */
.hamburger {
  width: 50px;
  position: fixed;
  top: 50px;
  right: 150px;
  z-index: 999;
  .ham-span {
    background-color: rgb(43, 43, 43);
    display: inline-block;
    height: 3px;
    margin: 5px !important;
    padding: 0px !important;
  }
}
.active-right {
  transform: rotate(90deg);
  position: relative;

  transition: 0.4s all ease-in-out;
  z-index: 999;
}
.active-left {
  transform: rotate(-90deg);
  transition: 0.4s all ease-in-out;
  z-index: 999;
}
.ham-two {
  display: block;
  transition: 0.1s all ease-in-out;
}

/* LANDING TITLE */
.landing {
  height: auto;
  hr {
    width: 65%;
    border: 1px solid rgb(0, 0, 0) !important;
    opacity: 1;
  }
}
.title {
  position: absolute;
  left: 20%;
  bottom: 25%;
  h1 {
    color: #fff;
    font-weight: 900;
  }
  h2 {
    font-weight: 100;
  }
}
/* NAVIGATION LIST */
.nav-list {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  display: none;
  .nav-item {
    list-style: none;
  }
  .nav-link {
    text-decoration: none;
    color: #fff;
    animation: fadeIn 1s;
  }
}
.navbar {
  height: 15vh;
}

/* HAMBURGER OVERLAY */
.overlay {
  background-color: rgba(0, 0, 0, 0.671);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  animation: fadeIn 1s;
}
/* ABOUT SECTION */
.studio-text {
  width: 62.34%;
  padding: 143px 0;
}
.cite-text {
  padding: 143px 143px;
  text-align: left;
}
.studio-img {
  padding: 143px 0;
  padding-left: 13.5px;
}
.end-text {
  padding: 0 143px;
}
.no-border {
  border: none !important;
}
.equipment {
  padding: 72.5px 0;
}
.booking-padding {
  padding: 143px 0;
}
.card {
  position: relative;
  img {
    width: 100% !important;
  }
  h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    text-align: center;
  }
}
.artist-card {
  .card {
    &:hover {
      transform: translateY(-10px);
      transition: 0.3s all ease-in-out;
      box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px;
    }
  }
}
.mobile-grid {
  @media (max-width: 768px) {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    h5 {
      font-size: 0.8rem !important;
    }
  }
}

/* ANIMATIONS */
@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes rotateLeft {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(-360deg);
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.blink {
  animation: blink-animation 1.2s steps(5, start) infinite;
  -webkit-animation: blink-animation 1.2s steps(5, start) infinite;
  animation-delay: 10s;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
/* EFFECTS */
.shadow-1 {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 20px 0px !important;
}
.shadow-2 {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 10px !important;
}
.shadow-3 {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 10px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
}

@media (max-width: 768px) {
  .hamburger {
    right: 15px;
    top: 15px;
  }
  .navbar {
    height: 8vh;
  }
  .landing-mobile {
    flex-direction: column !important;
    padding: 20px;
    gap: 50px;
    &-img {
      padding: 0 !important;
      width: 60%;
    }
    &-second {
      display: none;
    }
  }
  .landing-text {
    padding: 0 !important;
  }
  .landing {
    hr {
      width: 100%;
    }
  }
  .studio-text {
    padding: 0px !important;
    margin: 0 !important;
    width: 100%;
    padding-top: 20px !important;
  }
  .studio-img {
    padding: 0 !important;
    padding-top: 20px !important;
  }
  .cite-text {
    padding: 40px 20px;
  }
  .studio-mobile-img {
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .img-fluid {
      padding: 10px !important;
      border: none !important;
    }
    img {
      width: 50%;
    }
  }
  .studio-info {
    padding: 9px !important;
  }
  .end-text {
    padding: 9px !important;
    padding-top: 56px !important;
  }
  .booking-padding {
    gap: 20px;
    padding: 56px 0 !important;
  }
  .no-border {
    border: none !important;
  }
}
